table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #8C8C8C;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
 table td ,
 table th {
	padding: 3px 10px;
}
table thead th {
	background: -webkit-gradient(linear, 100.0% 0%, 0% 0%, from(#8C8C8C), to(#7D7D7D));
	background: -webkit-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: -moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: -ms-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: -o-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color: #8C8C8C;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #A3A3A3;
}
table thead th:first-child {
	border: none;
}
 table tbody td {
	color: #7D7D7D;
	border-left: 1px solid #DBDBDB;
	font-size: 15px;
	font-weight: normal;
}
table tbody .alt td {
	background: #EBEBEB;
	color: #7D7D7D;
}
 table tbody td:first-child {
	border-left: none;
}
table tbody tr:last-child td {
	border-bottom: none;
}
table tfoot td div {
	border-top: 1px solid #8C8C8C;
	background: #EBEBEB;
	padding: 2px;
}
table tfoot td {
	padding: 0;
	font-size: 12px;
}
 table tfoot td ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
table tfoot  li {
	display: inline;
}
 table tfoot li a {
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;
	color: #F5F5F5;
	border: 1px solid #8C8C8C;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, 100.0% 0%, 0% 0%, from(#8C8C8C), to(#7D7D7D));
	background: -webkit-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: -moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: -ms-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: -o-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	background: linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color: #8C8C8C;
}
table tfoot ul.active ,
table tfoot ul a:hover {
	text-decoration: none;
	border-color: #7D7D7D;
	color: #F5F5F5;
	background: none;
	background-color: #8C8C8C;
}
